/* Site Overrides */

.bg-dark {
    background-color: #4541da !important;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 0px;
}

.navbar {
	height: 60px;
}

#myCarousel {
	padding-bottom: 10px;
}

.justified {
    position: relative;
    left:50%;
    /*margin-top: 50px;*/
}

.footer-link {
	font-size: 12px;
}

.featurette-divider {
    margin: 3rem 0 !important;
}

/*------------------------------------*\
    #Footer
\*------------------------------------*/
footer {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.footer--widget {
	background: #222222;
	padding-top: 100px;
}

.footer--widget-content h3 {
	color: #ffffff;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 25px;
}

.footer--widget-content p {
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	margin-bottom: 0;
	color: #dacdcd;
}

.footer--widget-content a {
	font-size: 13px;
	font-weight: 800;
	line-height: 49px;
	text-transform: uppercase;
	color: #c59d5f;
}

.footer--widget-content a:hover {
	color: #ffffff;
}

.footer--reservation {
	position: relative;
	background-color: #141414;
	margin: auto;
	z-index: 888;
	border-radius: 3px;
	margin-top: -179px;
	padding-top: 20px;
}

.footer--reservation-wrapper {
	padding: 14px 40px 40px 40px;
}

.footer--reservation h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
	color: #ffffff;
	position: relative;
	text-align: center;
	margin-bottom: 24px;
}

.footer--reservation ul {
	margin-bottom: 40px;
}

.footer--reservation ul li {
	text-align: left;
	border-bottom: 1px dashed #49433f;
	padding: 8px 0;
	color: #dacdcd;
}

.footer--reservation ul li span {
	float: right;
}

/* Footer Social */
.footer--social {
	background: #222222;
	padding: 40px 0;
}

.footer--social-icons a {
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 50%;
	text-align: center;
	background-color: #1c1c1c;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	display: inline-block;
	margin-right: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.footer--social-icons a:last-of-type {
	margin-right: 0;
}

.footer--social-icons a:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.footer--social-newsletter {
	position: relative;
	margin: 0;
	width: 250px;
}

.footer--social-newsletter .form-control {
	box-shadow: none;
	border: none;
	background-color: #1c1c1c;
	color: #474747;
	font-style: italic;
	width: 250px;
	height: 42px;
	line-height: 42px;
	border-radius: 42px;
	margin: 0;
}
.footer--social-newsletter .form-control::-webkit-input-placeholder {
 color: #474747;
}
.footer--social-newsletter .form-control::-moz-placeholder {
 color: #474747;
}
.footer--social-newsletter .form-control::-ms-input-placeholder {
 color: #474747;
}

.footer--social-newsletter button {
	background-color: transparent;
	border: none;
	line-height: 42px;
	color: #c59d5f;
	position: absolute;
	right: 10px;
	top: 0;
	margin-bottom: 0;
}

/* Footer Copyrights */
.footer--copyright {
	background-color: #141414;
	padding: 37px 0;
	position: relative;
}

.footer--copyright span {
	font-size: 13px;
}

.footer--copyright a {
	color: #c59d5f;
}

/* Footer Contact */
.footer--copyright .contact-info {
	margin-bottom: 20px;
}

.footer--copyright .contact-info span {
	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
}

/* Footer #1 */
.footer-1 {
	padding-top: 100px;
}

/* Footer #3 */
.footer-3 .footer--reservation {
	margin-top: -100px;
}

/* Footer #4 */
.footer-4 .footer--social {
	padding: 20px 0 0 0;
}

.footer-4 .footer--widget {
	padding-bottom: 40px;
}

.footer--widget .footer--social-newsletter {
	margin: auto;
}

/* Footer #5 */
.footer-5 .footer--copyright {
	padding: 26px 0;
}

.footer-5 .footer--copyright span,
.footer-5 .footer--copyright a {
	line-height: 39px;
}

/* Footer #6 */
.footer-6 .footer--copyright {
	background-color: #222222;
	padding-top: 20px;
	padding-bottom: 57px;
}

/* Footer #7 */
.footer-7 .footer--widget {
	padding-bottom: 80px;
}

.footer-7 .footer--copyright {
	padding: 45px 0;
}

.footer-7 .footer--copyright p {
	font-size: 14px;
}

/* Footer #8 */
.footer-8 .footer--widget {
	padding-bottom: 70px;
}

.footer-8 .footer--social-newsletter,
.footer-8 .widget--newsletter .form-control {
	width: 100%;
}

/* Footer #10 */
.footer-10 .social-icons a,
.footer-10 .widget--newsletter .form-control {
	border-radius: 3px;
}

.footer-10 .footer--reservation {
	padding-top: 0;
}

.footer-10 .footer--reservation h3 {
	margin-bottom: 0;
	background-color: #c59d5f;
	padding: 26px 0 25px 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {

footer .footer--reservation {
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 320px;
}

.footer--social-icons {
	margin-bottom: 20px;
}

footer .footer--social-newsletter .form-control,
 footer .footer--social-newsletter {
	margin: 0 auto;
}

.footer-8 .footer--social-newsletter,
 .footer-8 .widget--newsletter .form-control {
	width: 250px;
}

footer .text-right,
 footer .text-left {
	text-align: center !important;
}

.footer-1 {
	padding-top: 0;
}

.footer-13 img {
	padding: 20px 0;
}

.footer-3 .footer--reservation {
	margin-top: 0;
}

.footer-3 .divider--shape-10down {
	display: none;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.footer-4 .footer--social-icons a {
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-right: 2px;
}

.footer-4 .footer--social-newsletter,
 .footer-4 .footer--social-newsletter .form-control {
	width: 100%;
}

.footer-8 .footer--social-icons a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
}
}